.page__section--companies {
  margin-bottom: 4.861vw;

}

.page-companies__wrapper {

}

.page-companies {
  background: #EEF4FC;
  border-radius: 3px;
  padding: 2.708vw 0 3.472vw 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.page-companies__text {
  font-size: 1.250vw;
  line-height: 1.4;
  margin-bottom: 1.667vw;
}

.page-companies__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 78.056vw;
  width: 100%;
}

.page-companies__item {

}

.page-companies__ico {
  
}

.page-companies__ico--bolt {
  width: 10.417vw;
  height: 3.125vw;
}

.page-companies__ico--glovo {
  width: 10.417vw;
  height: 3.125vw;
}

.page-companies__ico--michelin {
  width: 10.417vw;
  height: 3.681vw;
}

.page-companies__ico--silpo {
  width: 10.417vw;
  height: 2.986vw;
}

.page-companies__ico--spaces {
  width: 7.639vw;
  height: 1.319vw;
}

.page-companies__ico--mitsubishi {
  width: 10.417vw;
  height: 4.236vw;
}