.page__section--for-who {
  margin-bottom: 13.056vw;

  @include viewport-tablet {
    margin-bottom: 50px;
  }
}


.for-who__title {
  text-align: center;
  font-size: 4.444vw;
  margin-bottom: 1.389vw;

  @include viewport-tablet {
    padding: 0 15px;
    font-size: 36px;
    margin-bottom: 20px;
  }
}

.for-who__text {
  max-width: 44.514vw;
  font-size: 1.667vw;
  line-height: 1.3;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5.417vw;
  opacity: .5;
  text-align: center;

  @include viewport-tablet {
    max-width: 100%;
    padding: 0 15px;
    font-size: 16px;
    margin-bottom: 57px;
  }
}

.for-who__list {
  max-width: 100%;
  width: 100%;

  .slick-list {
    padding: 0 10% 0 0;
    margin: 0 -6px;
  }

  .slick-slide {
    margin: 0 6px;
  }
}

.for-who-item {
  height: 34.306vw;
  box-sizing: border-box;
  padding: 2.778vw 2.083vw;
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;

  @include viewport-tablet {
    height: 300px;
    padding: 26px 24px 30px;
  }
}

.for-who-item--grey {
  background: #F0F4FC;
}

.for-who-item--yellow {
  background: var(--color-yellow);
}

.for-who-item--pink {
  background: #F8DDE7;
}

.for-who-item--purple {
  background: var(--color-purple);
}

.for-who-item--green {
  background: var(--color-green);
}

.for-who-item--blue {
  background: var(--color-blue);
}

.for-who-item--dark-blue {
  background: #D6E3FF;
}

.for-who-item--peach {
  background: #F1D2C3;
}

.for-who-item--peach {
  background: #F1D2C3;
}

.for-who-item__title {
  font-size: 2.778vw;
  max-width: 22.222vw;
  line-height: 1;

  @include viewport-tablet {
    max-width: 241px;
    font-size: 24px;
  }
}

.for-who-item__link {
  padding-left: 2.569vw;
  padding-right: 2.569vw;

  @include viewport-tablet {
    padding-left: 37px;
    padding-right: 37px;
  }
}

.for-who-item__ico-wrap {
  position: absolute;
  right: 2.778vw;
  bottom: 5.556vw;
  width: 17.361vw;
  height: 17.361vw;
  display: flex;
  justify-content: center;
  align-items: center;

  @include viewport-tablet {
    width: 110px;
    height: 110px;
    bottom: 100px;
    right: 20px;
  }
}

.for-who-item__ico--1 {
  height: 14.583vw;

  @include viewport-tablet {
    width: 100%;
    height: 100%;
  }
}

.for-who-item__ico--2 {
  height: 11.319vw;

  @include viewport-tablet {
    width: 100%;
    height: 100%;
  }
}

.for-who-item__ico--3 {
  height: 17.361vw;

  @include viewport-tablet {
    width: 100%;
    height: 100%;
  }
}

.for-who-item__ico--4 {
  height: 12.483vw;

  @include viewport-tablet {
    width: 100%;
    height: 100%;
  }
}

.for-who-item__ico--5 {
  height: 12.483vw;

  @include viewport-tablet {
    width: 100%;
    height: 100%;
  }
}

.for-who-item__ico--6 {
  height: 11.361vw;

  @include viewport-tablet {
    width: 100%;
    height: 100%;
  }
}

.for-who-item__ico--7 {
  height: 12.361vw;

  @include viewport-tablet {
    width: 100%;
    height: 100%;
  }
}
