:root {

  --color-dark: #2C2A2D;
  --color-dark-2: #7F7D84;

  /* COLORS */
  --brand-color: #EB6418;
  --brand-color-darkened: #D55B16;
  --brand-color-darkened-2: #C45314;

  --secondary-color-dark: #000000;
  --secondary-color-medium: #22201F;
  --secondary-color-light: #383635;

  --color-grey-1: #F5F5F5;
  --color-grey-2: #EBEBEB;
  --color-grey-3: #DEDEDE;
  --color-grey-4: #BDBDBD;
  --color-grey-5: #999999;
  --color-grey-6: #4C4A49;



  --alert-color: #FF5C5C;
  --alert-color-dark: #C72B2B;
  --success-color: #4FC253;

  /* HEIGHTS */
  --header-height: 56px;
  --desktop-header-height: 64px;
  --desktop-order-header-height: 100px;
  --desktop-footer-height: 60px;
  --input-height: 56px;
  --desktop-navigation-height: 48px;


  /* FONTS */
  --secondary-font: 'Raleway', sans-serif;
}
