.page__section--unite {
  margin-bottom: 0.764vw;

  @include viewport-tablet {
    margin-bottom: 10px;
  }
}

.unite__wrapper {
  @include viewport-tablet {
    padding: 0;
  }
}

.unite {
  background: #D6E6FD;
  border-radius: 6px;
  padding: 6.250vw 3.333vw 3.333vw 3.333vw;
  overflow: hidden;

  @include viewport-tablet {
    border-radius: 0;
    padding: 60px 0 0 0;
  }
}

.unite__subtitle-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.083vw;
  position: relative;
  z-index: 3;

  @include viewport-desktop {
    margin-bottom: 30px;
  }

  @include viewport-tablet {
    margin-bottom: 21px;
  }
}

.unite__subtitle-img-wrap  {
  margin-right: 8px;
  position: relative;
  width: 2.778vw;
  height: 2.778vw;

  @include viewport-desktop {
    width: 40px;
    height: 40px;
  }

  @include viewport-tablet {
    width: 34px;
    height: 34px;
  }
}

.unite__subtitle-img  {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.unite__subtitle {
  line-height: 1.1;
  font-weight: 500;
  font-size: 1.250vw;

  @include viewport-desktop {
    font-size: 18px;
  }

  @include viewport-tablet {
    font-size: 16px;
  }
}

.unite__text {
  max-width: 60.069vw;
  margin-left: auto;
  margin-right: auto;
  font-size: 3.333vw;
  line-height: 1.3;
  // margin-bottom: 7.153vw;
  text-align: center;
  color: var(--color-dark);
  font-weight: 500;
  line-height: 1;


  @include viewport-tablet {
    font-size: 24px;
    max-width: 100%;
    padding: 0 25px;
  }
}

.unite__img-wrap {
  width: 100%;
  margin-top: -4vw;
  margin-bottom: -11vw;
  position: relative;
  display: none;

  @include viewport-tablet {
    display: block;
  }

  @include viewport-phone {
    padding-bottom: 100%;
    margin: 0;
  }
}

.unite__img {
  width: 100%;


  @include viewport-phone {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: 19%;
    transform: scale(1.2);
  }
}

.magnet {
  position: absolute;
  transition: transform .5s ease-out, opacity .7s ease-out;

  img {
    width: 100%;
    height: 100%;
    transition: all .5s ease-in-out;
    opacity: 1;
  }
}

.magnet-mouse-active {
  img {
    transform: scale(0);
    opacity: 0;
  }
}

.unite-map {
  width: 100%;
  margin-top: 6.25vw;
  position: relative;

  @include viewport-tablet {
    display: none;
  }
}

.unite-map__map {
  width: 100%;
  transform: scale(1.1);
  use {
    width: 100%;
  }
}

.unite-element__1 {
  top: 13.9%;
  left: 2%;
  width: 2.847vw;
  height: 2.847vw;
}


.unite-element__2 {
  top: 16.5%;
  left: 10.5%;
  width: 4.583vw;
  height: 4.583vw;
}

.unite-element__3 {
  top: 8.7%;
  left: 18.2%;
  width: 3.542vw;
  height: 3.542vw;
}

.unite-element__4 {
  top: 8.8%;
  left: 28.7%;
  width: 1.736vw;
  height: 1.736vw;
}


.unite-element__5 {
  top: 15.7%;
  left: 23.7%;
  width: 3.056vw;
  height: 3.056vw;
}

.unite-element__6 {
  top: 24.2%;
  left: 19.8%;
  width: 3.958vw;
  height: 3.958vw;
}

.unite-element__7 {
  top: 36.25%;
  left: 17%;
  width: 3.958vw;
  height: 3.958vw;
}

.unite-element__8 {
  top: 40.2%;
  left: 12.4%;
  width: 2.361vw;
  height: 2.361vw;
}

.unite-element__9 {
  top: 54.7%;
  left: 21%;
  width: 2.847vw;
  height: 2.847vw;
}

.unite-element__10 {
  top: 61.4%;
  left: 27.6%;
  width: 3.750vw;
  height: 3.750vw;
}

.unite-element__11 {
  top: 74.3%;
  left: 21.9%;
  width: 2.361vw;
  height: 2.361vw;
}

.unite-element__12 {
  top: 8.1%;
  left: 48.2%;
  width: 2.847vw;
  height: 2.847vw;
}

.unite-element__13 {
  top: 21.1%;
  left: 45.4%;
  width: 2.847vw;
  height: 2.847vw;
}

.unite-element__14 {
  top: 19.9%;
  left: 52.1%;
  width: 2.847vw;
  height: 2.847vw;
}

.unite-element__15 {
  top: 31.9%;
  left: 40%;
  width: 3.958vw;
  height: 3.958vw;
}

.unite-element__16 {
  top: 31.4%;
  left: 48.8%;
  width: 3.194vw;
  height: 3.194vw;
}

.unite-element__17 {
  top: 31.5%;
  left: 55.7%;
  width: 1.736vw;
  height: 1.736vw;
}

.unite-element__18 {
  top: 40.5%;
  left: 46.1%;
  width: 4.583vw;
  height: 4.583vw;
}

.unite-element__19 {
  top: 39.9%;
  left: 57.6%;
  width: 1.736vw;
  height: 1.736vw;
}

.unite-element__20 {
  top: 52.4%;
  left: 41%;
  width: 3.958vw;
  height: 3.958vw;
}

.unite-element__21 {
  top: 57.1%;
  left: 48.8%;
  width: 4.028vw;
  height: 4.028vw;
}

.unite-element__22 {
  top: 49.4%;
  left: 55.2%;
  width: 3.056vw;
  height: 3.056vw;
}

.unite-element__23 {
  top: 73.1%;
  left: 50.1%;
  width: 2.847vw;
  height: 2.847vw;
}

.unite-element__24 {
  top: 14.5%;
  left: 71.6%;
  width: 2.361vw;
  height: 2.361vw;
}

.unite-element__25 {
  top: 29.4%;
  left: 63%;
  width: 4.028vw;
  height: 4.028vw;
}

.unite-element__26 {
  top: 29.1%;
  left: 71.9%;
  width: 2.847vw;
  height: 2.847vw;
}

.unite-element__27 {
  top: 27.2%;
  left: 84.3%;
  width: 3.125vw;
  height: 3.125vw;
}

.unite-element__28 {
  top: 64.9%;
  left: 79.3%;
  width: 3.125vw;
  height: 3.125vw;
}

.unite-element__29 {
  top: 69.9%;
  left: 85.3%;
  width: 1.736vw;
  height: 1.736vw;
}

.unite-element__30 {
  top: 75.6%;
  left: 88.7%;
  width: 4.583vw;
  height: 4.583vw;
}
