.page__section--for-who-travel {
  margin-bottom: 9.861vw;

  @include viewport-tablet {
    margin-bottom: 70px;
  }
}

.for-who-travel__wrapper {}

.for-who-travel {}

.for-who-travel-blue {
  background: var(--color-blue);
}

.for-who-travel-green {
  background: #DDFFB2;
}

.for-who-travel-pink {
  background: #F8DDE7;
}

.for-who-travel-peach {
  background: #F1D2C3;
}

.for-who-travel-purple {
  background: var(--color-purple);
}

.for-who-travel-yellow {
  background: var(--color-yellow);
}

.for-who-travel-item__corner {
  position: absolute;
  top: 0;
  left: 0;
  padding: 4px;
  z-index: 2;

  @include viewport-tablet {
    padding: 5px 0;
  }
}

.for-who-travel__content {
  max-width: 53.397vw;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4.861vw;

  @include viewport-desktop {
    max-width: 650px;
  }

  @include viewport-tablet {
    margin-bottom: 34px;
  } 
}

.for-who-travel__img-wrap  {
  width: 7.986vw;
  height: 7.986vw;
  position: relative;
  margin-bottom: 2.222vw;

  @include viewport-tablet {
    width: 68px;
    height: 68px;
    margin-bottom: 28px;
  }
}

.for-who-travel__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.for-who-travel__title {
  font-size: 4.444vw;
  line-height: 1.1;
  font-weight: 500;
  margin-bottom: 1.597vw;
  text-align: center;

  @include viewport-desktop {
    font-size: 48px;
  }

  @include viewport-tablet {
    font-size: 36px;
    margin-bottom: 28px;
    // max-width: 160px;
  }
}

.for-who-travel__text {
  font-size: 1.667vw;
  line-height: 1.3;
  text-align: center;
  color: var(--color-dark-2);

  @include viewport-desktop {
    font-size: 24px;
  }

  @include viewport-tablet {
    font-size: 16px;
    padding: 0 15px;
  }
}


.for-who-travel__list {
  display: flex;
  flex-wrap: wrap;
  margin: -4px;

  @include viewport-tablet {
    flex-direction: column;
    margin: -4px 0;
  }
}


.for-who-travel-item {
  position: relative;
  min-width: 29.375vw;
  width: 29.375vw;
  height: 16.944vw;
  padding: 4px;
  box-sizing: border-box;
  display: flex;

  @include viewport-tablet {
    width: 100%;
    min-height: 355px;
    padding: 5px 0;
  } 
}

.for-who-travel-item--l {
  flex: 1;

  .for-who-travel-item__title {
    max-width: 29.028vw;
  }
}

.for-who-travel-item--text {
  .for-who-travel-item__content {
    justify-content: flex-start;
  }
}

.for-who-travel-item--empty {
  opacity: 0;

  @include viewport-tablet {
    display: none;
  } 
}

.for-who-travel-item--row {
  overflow: visible;
  .for-who-travel-item__content {
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    height: calc(200% - 8px);

    @include viewport-tablet {
      position: static;
      height: auto;
    } 
  }

  @include viewport-tablet {
    overflow: hidden;
    min-height: 355px;
  } 
}

.for-who-travel-item--bg-image {
  .for-who-travel-item__content {
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.4);
  }
  .for-who-travel-item__title {
    color: #ffffff;
  }
}

.for-who-travel-item__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1.667vw 1.806vw;
  border-radius: 6px;
  box-sizing: border-box;

  &.corner {
    overflow: hidden;
  }

  @include viewport-tablet {
    padding: 45px 32px;
  } 
}


.for-who-travel-item__ico-wrap {
  position: absolute;
  top: 1.667vw;
  left: 1.806vw;

  @include viewport-tablet {
    top: 44px;
    left: 32px;
  }
}

.for-who-travel-item__ico {
  width: 6.111vw;
  height: 5.486vw;

  @include viewport-tablet {
    width: 75px;
    height: 78px;
  }
}

.for-who-travel-item__title {
  font-size: 2.7vw;
  font-weight: 500;
  line-height: .9;

  // @include viewport-tablet {
  //   font-size: 64px;
  // } 

  @include viewport-tablet {
    font-size: 32px;
    max-width: 100% !important;
  } 
}

.for-who-travel-item__img-wrap {
  position: absolute;
  top: 0;
  right: 0;
  width: 20.833vw;
  height: 13.889vw;

  @include viewport-tablet {
    width: 180px;
    height: 130px;
    top: 20px;
    left: 0;
    right: auto;
  }  
}

.for-who-travel-img__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 100%;
  height: 100%;
  object-fit: contain;
}


.for-who-travel-item__img-man {
  width: 16.111vw;
  height: 17.569vw;
  position: absolute;
  bottom: 4px;
  right: -6px;
  z-index: 2;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  @include viewport-tablet {
    width: 195px;
    height: 210px;
  } 

  @media (max-width: 374px) { 
    width: 142px;
    height: 154px;
  }
}
