.page__section--rating {
  overflow: hidden;
  max-width: 100%;
}

.page-rating__wrapper {}

.page-rating {}

.page-rating__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4.444vw;

  @include viewport-tablet {
    margin-bottom: 48px;
  }
}

.page-rating__title {
  font-size: 3.333vw;
  font-weight: 500;
  line-height: 1.4;
  margin-bottom: 2.847vw;

  @include viewport-tablet {
    font-size: 36px;
    margin-bottom: 38px;
    text-align: center;
  }
}

.page-rating__list {
  display: flex;
  justify-content: center;
  margin: 0 -30px;

  @include viewport-tablet {
    margin: 0 -15px;
  }
}

.page-rating__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 30px;

  @include viewport-tablet {
    margin: 0 15px;
  }
}

.page-rating__box {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.page-rating__rating {
  font-size: 2.222vw;
  font-weight: 500;
  line-height: 1.4;
  margin-right: 10px;

  @include viewport-tablet {
    font-size: 32px;
  }
}

.page-rating__ico-wrap {
  width: 2.222vw;
  height: 2.222vw;
  position: relative;

  @include viewport-tablet {
    width: 32px;
    height: 32px;
  }
}

.page-rating__ico {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.page-rating__stars {
  display: flex;
  margin: 0 -4px;
  margin-bottom: 12px;
}

.page-rating__star {
  width: 1.389vw;
  height: 1.389vw;
  opacity: .2;
  margin: 0 4px;

  @include viewport-tablet {
    width: 20px;
    height: 20px;
  }
}

.page-rating__star--active {
  opacity: 1;
}

.page-rating__text {
  font-size: 0.972vw;
  color: #838383;
  line-height: 1.4;

  @include viewport-tablet {
    font-size: 14px;
  }
}

.page-rating__text--bold {
  font-weight: 600;
}

.page-rating-slider {
  margin-bottom: 6.042vw;
  display: block;

  @include viewport-tablet {
    margin-bottom: 81px;
  }

  .slick-list {
    height: 100%;
    padding: 0 15% 0 0;
    overflow: visible;
  }

  .slick-track {
    height: 100%;
    display: flex;
  }

  .slick-slide {
    height: auto;

    &>div {
      height: 100%;
    }
  }
}

.page-rating-slider__item {
  padding: 4px;
  height: 100%;

}

.page-rating-slider__content {
  display: flex;
  flex-direction: column;
  background: #EEF4FC;
  border-radius: 6px;
  height: 100%;
  padding: 1.875vw 1.389vw;

  @include viewport-tablet {
    padding: 27px 20px;
  }
}

.page-rating-slider__box {
  flex: 1;
}

.page-rating-slider__ico-wrap {
  width: 2.222vw;
  height: 2.222vw;
  position: relative;
  margin-bottom: 15px;

  @include viewport-tablet {
    width: 32px;
    height: 32px;
  }
}

.page-rating-slider__ico {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.page-rating-slider__title {
  font-size: 1.250vw;
  line-height: 1.44;
  font-weight: 500;
  margin-bottom: 3px;

  @include viewport-tablet {
    font-size: 18px;
  }
}

.page-rating-slider__text {
  font-size: 0.972vw;
  line-height: 1.3;
  color: var(--color-dark-2);
  margin-bottom: 12px;

  @include viewport-tablet {
    font-size: 14px;
  }
}

.page-rating-slider__name {
  font-size: 0.972vw;
  line-height: 1.4;
  font-weight: 500;
  color: var(--color-dark-1);
  margin-bottom: 0;

  @include viewport-tablet {
    font-size: 14px;
  }
}

.page-rating-slider__date {
  font-size: 0.833vw;
  line-height: 1.4;
  color: var(--color-dark-2);
  margin-bottom: 0;

  @include viewport-tablet {
    font-size: 12px;
  }
}