.page__section--download {
  margin-bottom: 17.500vw;

  @include viewport-tablet {
    margin-bottom: 85px;
  }

}

.page-download__wrapper {}

.page-download {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-download__img-wrap {
  width: 21.111vw;
  padding-bottom: 19.722vw;
  position: relative;
  margin-bottom: 2.083vw;

  @include viewport-desktop { 
    width: 100%;
    max-width: 304px;
    padding-bottom: 284px;
    margin-bottom: 30px;
  }
}

.page-download__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.page-download__box {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}

.page-download__logo-wrap {
  width: 40px;
  height: 40px;
  margin-right: 9px;
  position: relative;
  display: flex;
}

.page-download__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.page-download__logo-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
}

.page-download__title {
  font-weight: 500;
  font-size: 3.333vw;
  line-height: 1.1;
  margin-bottom: 2.500vw;
  max-width: 34.931vw;
  text-align: center;

  @include viewport-desktop {
    max-width: 503px;

    font-size: 48px;
    margin-bottom: 36px;
  }

  @include viewport-tablet {
    font-size: 28px;
    margin-bottom: 26px;
  }
}

.page-download__title__btn {
  flex: 1;

}

.page-download__title__btn-ico {

}

.page-download__title__btn {

}