.page__section--get {
  overflow: hidden;
  margin-bottom: 6.597vw;
  padding-top: 0.903vw;
  padding-bottom: 0.903vw;
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  flex-direction: column;

  @include viewport-tablet {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 60px;
    min-height: 100vh;
  }
}

.page-get__wrapper {
  flex: 1;
}

.page-get {
  position: relative;
  box-sizing: border-box;
  height: 100%;
  padding-top: 7.741vh;

  @include viewport-desktop {
    padding-top: 5vh;
  }

  @include viewport-tablet {
    padding-top: 39px;
    overflow: visible;
  }
}

.page-get__bg {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--color-blue);
  z-index: -1;
  border-radius: 6px;
  transition: all .2s ease-in;
  transform: scale(1.03);

  @include viewport-tablet {
    // transform: scale(1);
  }

  &::after {
    content: "";
    position: absolute;
    width: 4.514vw;
    height: 6.667vw;
    left: -1.528vw;
    top: -3.958vw;
    background: #ffffff;
    transform: rotate(45deg);

    @include viewport-tablet {
      padding-top: 39px;
      width: 65px;
      height: 96px;
      top: -70px;
      left: -38px;
    }
  }
}

.page-get__bg--active {
  transform: scale(1);
}

.page-get__title {
  max-width: 87.510vh;
  font-size: 6.695vh;
  line-height: 1;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.615vh;
  margin-left: auto;
  margin-right: auto;

  @include viewport-desktop {
    font-size: 5vh;
  }

  @include viewport-tablet {
    max-width: 100%;
    margin-right: 60px;
    margin-left: 60px;
    font-size: 4.523vh;
    margin-bottom: 20px;
  }

  @include viewport-phone {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.page-get__content {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  max-width: 100%;

  // @include viewport-tablet {
  //   display: none;
  // }
}

.page-get__img {
  position: absolute;
  left: calc(50%);
  top: 2.3vh;
  height: 59.519vh;
  width: 27.510vh;
  transform: translateX(-50%);
  transition: all .2s ease-in;
  opacity: 1;

  &.active {
    opacity: 0;
    transform: translateX(-50%) scale(1.5);
  }
}

.page-get__img--step-1 {
  z-index: 4;
}

.page-get__img--step-2 {
  z-index: 3;
}

.page-get__img--step-3 {
  z-index: 2;
}

.page-get__img--step-4 {
  width: 41.736vh;
  height: 71.862vh;
  position: relative;
  top: 0;
  left: 37%;


}

.page-get__img--step-5 {
  height: 6.276vh;
  width: 31.381vh;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-132%) scale(0.5);
  z-index: 3;
  opacity: 0;

  @include viewport-desktop {
    top: 6%;
    transform: translate(-50%, 0) scale(0.5);
  }

  &.active {
    opacity: 1;
    transform: translateX(-132%) scale(1);

    @include viewport-desktop {
      transform: translate(-50%, 0) scale(0.87);
    }
  }
}

.page-get__nav {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(100%, -50%);
  max-width: 21vh;

  @include viewport-desktop {
    max-width: 14.5vh;
    transform: translate(120%, -50%);
  }

  @include viewport-tablet {
    max-width: none;
    width: auto;
    display: flex;
    position: relative;
    transform: none;
    left: auto;
    top: -6vh;
  }
}

.page-get__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 6.381vh;
  line-height: 1.1;
  font-weight: 500;
  font-size: 2.092vh;
  // cursor: pointer;
  transition: all .3s ease-in-out;
  opacity: .4;

  @include viewport-desktop {
    font-size: 1.5vh;
  }

  // &:hover {
  //   opacity: 1;
  // }

  @include viewport-tablet {
    display: none;
    font-size: 2.513vh;

  }

  &.active {
    opacity: 1;
    // cursor: default;

    @include viewport-tablet {
      display: flex;
      margin: 0;
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}


.page-get__ico-wrap {

}

.page-get__ico {
  width: 1.674vh;
  height: 1.674vh;
  margin-bottom: 1.674vh;
}

.page-get-mobile {
  display: none;

  @include viewport-tablet {
    display: block;
    padding-bottom: 150.667vw;
    position: relative;
  }
}

.page-get-mobile__list-wrap {
  position: absolute;
  top: 0;
  left: -10px;
  right: -10px;
  width: calc(100% + 20px);
  max-width: calc(100% + 20px);
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.page-get-mobile__list {
  display: block;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  text-align: center;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.page-get-mobile__item {
  display: inline-block;
  vertical-align: top;
  margin: 0 -4vw;
  position: relative;
  

  &:first-child {
    padding-left: 12vw;
  }

  &:last-child {
    :after {
      content: "";
      display: block;
      position: absolute;
      right: -24vw;
      width: 24vw;
      height: 1px;
    }
  }
}

.page-get-mobile__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-get-mobile__img-wrap {
  width: 66.667vw;
}

.page-get-mobile__img {
  width: 100%;
}

.page-get-mobile__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1.1;
  font-weight: 500;
  font-size: 5.333vw;
  cursor: pointer;
  margin-top: -4vw;
  margin-left: 25vw;
  text-align: left;
  max-width: 53vw;

  span {
    white-space: normal;
  }
}

.page-get-mobile__ico-wrap {}

.page-get-mobile__ico {
  width: 4.267vw;
  height: 4.267vw;
  margin-bottom: 4.267vw;
}