.page__section--about {
  margin-bottom: 5.486vw;

  @include viewport-tablet {
    padding-bottom: 70px;
  }
}

.about__wrapper {}

.about {}

.about-blue {
  background: var(--color-blue);
}

.about-green {
  background: var(--color-green);
}

.about-purple {
  background: var(--color-purple);
}

.about-yellow {
  background: var(--color-yellow);
}

.about-top__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: -4px;

  @include viewport-tablet {
    flex-direction: column;
    margin: -4px 0;
  }
}

.about-top-item {
  position: relative;
  width: 23.889vw;
  height: 12.014vw;
  padding: 4px;
  box-sizing: border-box;
  display: flex;
  overflow: hidden;

  @include viewport-desktop {
    height: 173px;
  }

  @include viewport-tablet {
    width: 100%;
    padding: 5px 0;
  }

  &:first-child {
    @include viewport-tablet {
      display: none;
    }
  }

  &:last-child {
    @include viewport-tablet {
      order: -1;
    }
  }
}

.about-top__item--l {
  flex: 1;
  min-width: 50%;

  @include viewport-tablet {
    display: none;
  }
}

.about-top-item__content {
  flex: 1;
  height: 100%;
  display: flex;
  border-radius: 6px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.736vw;
  box-sizing: border-box;

  @include viewport-tablet {
    padding: 27px;
  }
}

.about-top-item__content--img {
  padding: 0;
}

.about-top-item__img-wrap {
  flex: 1;
  height: 100%;
  position: relative;
}

.about-top-item__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-top-item__title {
  font-size: 3.264vw;
  font-weight: 500;
  line-height: .9;
  margin-bottom: 20px;

  @include viewport-desktop {
    font-size: 36px;
  }

  @include viewport-tablet {
    font-size: 47px;
  }
}

.about-top-item__text {
  font-size: 1.111vw;
  line-height: 1;

  @include viewport-desktop {
    font-size: 14px;
  }

  @include viewport-tablet {
    font-size: 16px;
  }
}

.about__content {
  max-width: 46.597vw;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -4.167vw;
  margin-bottom: 5.903vw;

  @include viewport-desktop {
    max-width: 650px;
  }

  @include viewport-tablet {
    margin-top: 50px;
    margin-bottom: 50px;
  } 
}

.about__img-wrap  {
  width: 7.986vw;
  height: 7.986vw;
  position: relative;
  margin-bottom: 2.222vw;

  @include viewport-tablet {
    width: 68px;
    height: 68px;
    margin-bottom: 28px;
  }
}

.about__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.about__title {
  font-size: 6.667vw;
  line-height: .9;
  font-weight: 500;
  margin-bottom: 2.361vw;
  text-align: center;

  @include viewport-desktop {
    font-size: 64px;
  }

  @include viewport-tablet {
    font-size: 36px;
    margin-bottom: 28px;
    max-width: 160px;
  }
}

.about__text {
  font-size: 1.667vw;
  line-height: 1.3;
  margin-bottom: 3.750vw;
  text-align: center;
  color: var(--color-dark-2);

  @include viewport-desktop {
    font-size: 16px;
  }

  @include viewport-tablet {
    margin-bottom: 0;
    padding: 0 30px;
  }
}


.about-bottom__list {
  display: flex;
  flex-wrap: wrap;
  margin: -4px;

  @include viewport-tablet {
    flex-direction: column;
    margin: -4px 0;
  }
}


.about-bottom-item {
  position: relative;
  min-width: 29.375vw;
  height: 16.944vw;
  padding: 4px;
  box-sizing: border-box;
  display: flex;

  @include viewport-tablet {
    width: 100%;
    min-height: 244px;
    padding: 5px 0;
  } 
}

.about-bottom-item--l {
  flex: 1;
}

.about-bottom-item--corner {
  overflow: hidden;
}

.about-bottom-item__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2.083vw 2.778vw;
  border-radius: 6px;
  box-sizing: border-box;

  &.corner {
    overflow: hidden;
  }

  @include viewport-tablet {
    padding: 27px;
  } 
}

.about-bottom-item--empty {
  opacity: 0;

  @include viewport-tablet {
    display: none;
  } 
}

.about-bottom-item--row {
  overflow: visible;
  .about-bottom-item__content {
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    height: calc(200% - 8px);

    @include viewport-tablet {
      position: static;
      height: auto;
    } 
  }

  @include viewport-tablet {
    overflow: hidden;
    min-height: 500px;
  } 
}


.about-bottom-item__title {
  font-size: 4.444vw;
  font-weight: 500;
  line-height: .9;
  margin-bottom: 20px;

  @include viewport-tablet {
    font-size: 64px;
  } 

  @include viewport-phone {
    font-size: 48px;
  } 
}

.about-bottom-item__text {
  font-size: 1.667vw;
  line-height: 1.2;

  @include viewport-tablet {
    font-size: 24px;
  } 
}

.about-bottom-item__img-man {
  width: 16.111vw;
  height: 17.569vw;
  position: absolute;
  bottom: 4px;
  right: -6px;
  z-index: 2;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  @include viewport-tablet {
    width: 195px;
    height: 210px;
  } 

  @media (max-width: 374px) { 
    width: 142px;
    height: 154px;
  }
}

.about-bottom-item__ico-chart-wrap {
  height: 16.250vw;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  width: 100%;
  transform: translateY(-50%);

  @include viewport-tablet {
    height: 204px;
  } 
}

.about-bottom-item__ico-chart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 100%;
  height: 100%;
  object-fit: contain;

  @include viewport-tablet {
    object-fit: fill;
  } 
}
