.page__section--talk {
  margin-bottom: 9.861vw;

  @include viewport-tablet { 
    margin-bottom: 117px;
  }
}

.page-talk__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-talk {
  max-width: 45.903vw;

  @include viewport-desktop { 
    max-width: 661px;
  }

  @include viewport-tablet { 
    max-width: 100%;
  }
}

.page-talk__title {
  font-weight: 500;
  font-size: 3.611vw;
  line-height: 1.4;
  text-align: center;
  margin-bottom: 3.125vw;

  @include viewport-desktop { 
    font-size: 42px;
  }

  @include viewport-tablet { 
    font-size: 36px;
    margin-bottom: 31px;
  }

  @include viewport-phone { 
    font-size: 32px;
  }
}

.page-talk__slider {
  width: 100%;
  position: relative;
  display: block;

  .slick-list {
    height: 100%;
    margin: 0;
  }

  .slick-track {
    height: 100%;
    display: flex;
  }

  .slick-slide {
    height: auto;

    &> div {
      height: 100%;
    }
  }

  .slick-prev:before,
  .slick-next:before {
    color: black;
  }

  .slick-dots {
    bottom: -30px;
  }
}

.talk-slider-item {
  width: 100%;
  height: 100%;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;


}

.talk-slider-item__img-wrap {
  position: relative;
  width: 6.667vw;
  height: 6.667vw;
  margin-bottom: 1.667vw;
  transition: all .3s ease-in-out;

  @include viewport-tablet { 
    width: 64px;
    height: 64px;
    margin-bottom: 18px;
    order: -3;
  }
}

.talk-slider-item__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: grayscale(100%);
}

.talk-slider-item__text {
  font-size: 1.944vw;
  line-height: 1.5;
  margin-bottom: 1.667vw;
  font-weight: 500;
  text-align: center;

  @include viewport-desktop { 
    font-size: 28px;
  }

  @include viewport-tablet { 
    font-size: 20px;
    margin-bottom: 28px;
    order: -2;
  }
}

.talk-slider-item__name {
  display: block;
  font-size: 1.111vw;
  line-height: 1.4;
  font-weight: 500;
  color: var(--color-dark-2);
  margin-bottom: 2px;
  margin-bottom: 1.667vw;

  @include viewport-desktop { 
    font-size: 16px;
  }

  @include viewport-tablet { 
    margin-bottom: 38px;
  }
}

.talk-slider-item__link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 37px;
  width: 37px;
  height: 37px;
  background: var(--color-purple);
  border-radius: 100%;
  transition: all .3s ease-in-out;
  margin-bottom: 26px;

  &:hover {
    background: #D3CAEA;
  }

  svg {
    width: 17px;
    height: 17px;
  }

  @include viewport-tablet { 
    margin-bottom: 38px;
    order: -1;
  }
}



.page-talk__progress {
  width: 100%;
  display: flex;
}

.page-talk-progress__item {
  display: block;
  flex: 1;
  padding: 0;
  margin-right: 8px;
  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }
}

.page-talk-progress__bar {
  width: 100%;
  height: 6px;
  background-color: rgba(44, 42, 45, 0.2);
  display: block;

  .inProgressTalk {
    background-color: var(--color-dark);
    opacity: 1 !important;
    width: 0%;
    height: 6px;
  }
}

.page-talk__slider-js [data-animation-in] {
  opacity: 0;
  animation-duration: .6s;
  transition: opacity 0.5s ease 0.3s;

}

.talk-slider-item__img-wrap,
.talk-slider-item__text,
.talk-slider-item__name,
.talk-slider-item__link {
  opacity: 0;
}

.slick-current,
.slick-active {

  .talk-slider-item__img-wrap,
  .talk-slider-item__text,
  .talk-slider-item__name,
  .talk-slider-item__link {
    animation: simpleFadeUp .6s both;
  }

  .talk-slider-item__img-wrap {}

  .talk-slider-item__text {
    animation-delay: .2s;
  }

  .talk-slider-item__name {
    animation-delay: .4s;

    @include viewport-tablet { 
      animation-delay: .6s;
    }
  }

  .talk-slider-item__link {
    animation-delay: .6s;

    @include viewport-tablet { 
      animation-delay: .4s;
    }
  }
}

@keyframes simpleFadeUp {
  0% {
    transform: translateY(50%);
    opacity:0;
  }
  70% {
    opacity:1;
  }
  100% {
      transform: translateY(0);
      opacity: 1;
  }
}