.page__section--companies-insurance {
  margin-bottom: 4.861vw;

  @include viewport-desktop {
    margin-bottom: 50px;
  }
}

.companies-insurance__wrapper {
  overflow: hidden;

}

.companies-insurance {
  background: #EEF4FC;
  border-radius: 6px;
  padding: 2.708vw 0 5.472vw 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include viewport-desktop {
    padding: 35px 0 45px 0;
  }
}

.companies-insurance__text {
  font-size: 3.333vw;
  line-height: 1.4;
  margin-bottom: 4.167vw;
  text-align: center;
  font-weight: 500;
  max-width: 53.056vw;
  
  @include viewport-tablet {
    font-size: 36px;
    text-align: center;
    margin-bottom: 40px;
    max-width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
  }


}

.companies-insurance__text--bold {
  font-weight: 500;
}

.companies-insurance__content {
  max-width: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;

  @include viewport-tablet {
    padding-bottom: 100px;
  }
}

.companies-insurance__list-wrap {
  width: 100%;

  &.swiper {
    height: 100%;
    // padding: 0 15% 0 0;
    overflow: visible;
  }
  
  .swiper-slide {
    height: auto;
  }

  .swiper-pagination {
    position: static;
    width: auto;
    min-width: 45.903vw;
    display: flex;
  }

  .swiper-button-next,
  .swiper-button-prev {
    position: static;
    width: auto;
    height: auto;
    margin: 0;

    &::before,
    &::after {
      display: none;
    }

    svg {
      width: 2.778vw;
      height: 2.778vw;
      cursor: pointer;
    }
    
  }

  .swiper-button-next {
    transform: rotate(180deg);
  }

  .swiper__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: -4vw;
    left: 0;
    right: 0;
    box-sizing: border-box;
    padding-left: 2.778vw;
    padding-right: 2.778vw;

    @include viewport-tablet {
      display: none;
    }
  }


  .swiper-pagination-bullet {
    display: block;
    flex: 1;
    padding: 0;
    margin: 0 8px 0 0;
    cursor: pointer;
    height: 6px;
    border-radius: 0;
    position: relative;
    overflow: hidden;
    background-color: rgba(44, 42, 45, 0.2);
    opacity: 1;

    &:last-child {
      margin-right: 0;
    }
    
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      // transition: opacity 200ms;
    }
  }

  .swiper-pagination-bullet-active {
    // background: rgba(#000, 0.2);
    background-color: rgba(44, 42, 45, 0.2);
    
    &::before {
      background-color: var(--color-dark);
      animation: slide-progress 8s linear forwards;
      
      .swiper-paused & {
        // opacity: 0;
        animation-play-state: paused;
      }
    }
  }

  @keyframes slide-progress {
    0% {
      transform: translateX(-100%);
      // width: 0;
    }

    100% {
      transform: translateX(0);
      // width: 100%;
    }
  }

  @include viewport-tablet {
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: -10px;
    right: -10px;
    width: calc(100% + 20px);
    max-width: calc(100% + 20px);
  }
}



.companies-insurance__list {
  width: 100%;



  &::-webkit-scrollbar {
    display: none;
  }

  @include viewport-desktop {
    max-width: 100%;
  }

  @include viewport-tablet {
    display: block;
    white-space: nowrap;
    overflow-y: auto;
    text-align: center;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

}

.companies-insurance__item {
  display: inline-block;
  &:hover {
    .companies-insurance__ico {
      use {
        opacity: 1;
      }
    }
  }

  @include viewport-tablet {
    display: inline-block;
    vertical-align: middle;
    width: auto;
  }

  // &:nth-child(3) {
  //   svg {
  //     width: 134px;
  //   }
  // }
}

.companies-insurance__ico {
  max-height: 100px;
  width: 300px;
  // padding-right: 60px;
  use {
    fill: var(--color-dark);
    opacity: .4;
    transition: all 0.3s ease-in-out;
  }

  
}
