.page__section--reviews {
  margin-bottom: 7.292vw;

  @include viewport-tablet {
    margin-bottom: 82px;
  }
  
}

.page-reviews__wrapper {

  @include viewport-tablet {
    padding: 0;
  }
}

.page-reviews {
  position: relative;
  width: 100%;
}

.page-reviews__slider {
  width: 100%;
  position: relative;
  display: block;

  .slick-list {
    height: 100%;
    margin: 0;
  }


  .slick-track {
    height: 100%;
    display: flex;
  }

  .slick-slide {
    height: auto;

    &> div {
      height: 100%;
    }
  }

  .slick-prev:before,
  .slick-next:before {
    color: black;
  }

  .slick-dots {
    bottom: -30px;
  }
}


.reviews-slider__corner {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

  @include viewport-tablet {
    padding: 5px 0;
  }
}

.reviews-slider-item {
  width: 100%;
  height: 100%;
  display: flex !important;
  flex-direction: column;
  justify-content: flex-end;
  vertical-align: top;
  min-height: 54.097vw;
  padding: 3.333vw 2.778vw 5.208vw 2.778vw;
  position: relative;
  box-sizing: border-box;

  @include viewport-tablet { 
    padding: 0;
    min-height: auto;
    padding-top: 40px !important;
    align-items: center;
    padding: 0 10px;
    // justify-content: space-between;
    justify-content: flex-start;
  }
}

.reviews-slider-item__corner {
  

  @include viewport-tablet {
    position: absolute;
    left: 10px;
  }
}

.reviews-slider-item__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;

  @include viewport-tablet {
    align-items: center;
    // min-height: 76.800vw;
    padding: 0 10px;
    justify-content: space-between;
  }
}

.reviews-slider-item__img-wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-dark);
  z-index: -1;
  overflow: hidden;
  opacity: 1 !important;
  

  @include viewport-tablet { 
    position: relative;
    height: auto;
    margin-bottom: 31px;
    padding-bottom: 66.7%;
  }

  &.corner {
    &::after {
      left: -3.528vw;

      @include viewport-tablet { 
        left: -38px;
      }
    }
  }
}

.reviews-slider-item__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1 !important;
  animation-duration: 5s !important;
  transition: all 1s ease;
  animation-fill-mode: forwards !important;
}


.reviews-slider-item__tag {
  position: absolute;
  top: 3.819vw;
  left: 3.819vw;

  @include viewport-tablet { 
    top: 12px;
    left: 60px;
    

  }
}

.reviews-slider-item-tag__text {
  z-index: 2;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0.556vw 0.1vw 0.556vw 0.972vw;
  height: 2.917vw;
  background: #F8DDE7;
  border-radius: 5px 0 0 5px;
  font-size: 1.389vw;
  line-height: 1.2;

  @include viewport-tablet {
    font-size: 21px;
    padding: 8px 1px 8px 13px;
    height: 42px;
  }

  &::before {
    content: "";
    position: absolute;
    right: -2.4vw;
    top: 0;
    width: 2.5vw; //36px
    height: 3.69vw; 
    background: url('../img/review-tag-bg.png');
    background-size: contain;
    background-repeat: no-repeat;

    @include viewport-tablet {
      height: 53px;
      width: 36px;
      right: -35px;
    }
  }
}

// .reviews-slider-item-tag__bg {
//   // width: 12.639vw;
//   // height: 4vw;
//   // position: absolute;
//   // top: 50%;
//   // left: 50%;
//   // transform: translate(-46%, -40%) rotateY(180deg);
//   // z-index: -1;

//   position: absolute;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   width: 100%;
//   height: 100%;
//   object-fit: fill;
//   z-index: -1;


//   use {
//     fill: #F8DDE7;
//   }

// }

.reviews-slider-item__ico-wrap {
  margin-bottom: 2.847vw;

  @include viewport-tablet { 
    margin-bottom: 17px;
  }
}

.reviews-slider-item__ico {
  width: 8.333vw;
  height: 6.389vw;

  use {
    fill: #ffffff;

    @include viewport-tablet { 
      fill: var(--color-dark);
    }
  }

  @include viewport-tablet { 
    width: 73px;
    height: 56px;
  }
}

.reviews-slider-item__text {
  font-size: 1.806vw;
  line-height: 1.5;
  color: #ffffff;
  max-width: 50.833vw;
  margin-bottom: 2.222vw;

  @include viewport-tablet { 
    font-size: 16px;
    max-width: 100%;
    margin-bottom: 18px;
    color: var(--color-dark-2);
    text-align: center;
  }
}

.reviews-slider-item__box {
  display: flex;
  flex-direction: column;
}

.reviews-slider-item__name {
  display: block;
  font-size: 1.111vw;
  line-height: 1.4;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 2px;

  @include viewport-desktop {
    font-size: 14px;
  }

  @include viewport-tablet { 
    font-size: 16px;
    color: var(--color-dark);
    text-align: center;

  }
}

.reviews-slider-item__date {
  font-size: 0.972vw;
  line-height: 1.4;
  color: #ffffff;
  opacity: .7;

  @include viewport-desktop {
    font-size: 14px;
  }

  @include viewport-tablet { 
    font-size: 16px;
    color: var(--color-dark-2);
    text-align: center;
    opacity: 1;

  }
}


.page-reviews__progress {
  position: absolute;
  bottom: 2.639vw;
  width: 100%;
  padding: 0 2.778vw;
  display: flex;

  @include viewport-tablet { 
    position: static;
    padding: 0;
    margin-top: 30px;
    padding: 0 10px;
  }
}

.page-reviews-progress__item {
  display: block;
  flex: 1;
  padding: 0;
  margin-right: 8px;
  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }
}

.page-reviews-progress__bar {
  width: 100%;
  height: 6px;
  background-color: rgba(255, 255, 255, 0.4);
  display: block;

  .inProgress {
    background-color: rgba(255, 255, 255, 1);
    width: 0%;
    height: 6px;

    @include viewport-tablet { 
      background-color: var(--color-dark);
    }
  }
 
  @include viewport-tablet { 
    background-color: rgba(44, 42, 45, 0.2);
  }
}


.page-reviews__slider-js [data-animation-in] {
  opacity: 1;
  animation-duration: 1s;
    transition: opacity 0.5s ease 0.3s;

}


@keyframes zoomInImage {
  from {
    opacity: 0;
    transform: translateY(-50%) translateX(-50%) scale3d(1, 1, 1);
  }
  to {
    opacity: 1;
    transform: translateY(-50%) translateX(-50%) scale3d(1.1, 1.1, 1.1);
  }
}

.zoomInImage {
  animation-name: zoomInImage;
}

@keyframes zoomOutImage {
  from {
    transform: translateY(-50%) translateX(-50%) scale3d(1.1, 1.1, 1.1);
  }
  to {
    transform: translateY(-50%) translateX(-50%) scale3d(1, 1, 1);
  }
}

.zoomOutImage {
  animation-name: zoomOutImage;
}

@keyframes slideUpBlock {
  from {
    opacity: 0;
    transform: translateY(40%);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.slideUpBlock {
  animation-name: slideUpBlock;
}

