.page__section--compensation {
  padding-top: 13.056vw;
  padding-bottom: 23.194vw;
  box-sizing: border-box;
  position: relative;

  @include viewport-tablet {
    padding-top: 210px;
    padding-bottom: 110px;
    overflow: hidden;
  }
}

.page-compensation__wrapper {

}

.page-compensation {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include viewport-tablet {
    padding-top: 20px;
  }
}

.page-compensation__content {
  max-width: 46.597vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include viewport-tablet {
    max-width: 100%;
    padding: 0 22px;
  }
}

.page-compensation__subtitle-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 2.083vw;
  position: relative;
  z-index: 3;

  @include viewport-desktop {
    margin-bottom: 30px;
  }

  @include viewport-tablet {
    margin-bottom: 21px;
  }
}

.page-compensation__img-wrap  {
  margin-right: 8px;
  position: relative;
  width: 2.778vw;
  height: 2.778vw;

  @include viewport-desktop {
    width: 40px;
    height: 40px;
  }

  @include viewport-tablet {
    width: 34px;
    height: 34px;
  }
}

.page-compensation__img  {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.page-compensation__subtitle {
  line-height: 1.1;
  font-weight: 500;
  font-size: 1.250vw;

  @include viewport-desktop {
    font-size: 18px;
  }

  @include viewport-tablet {
    font-size: 16px;
  }
}

.page-compensation__title {
  font-size: 6.667vw;
  line-height: .9;
  font-weight: 500;
  margin-bottom: 2.569vw;
  text-align: center;

  @include viewport-desktop {
    font-size: 64px;
  }

  @include viewport-tablet {
    font-size: 36px;
    margin-bottom: 28px;
  }
}

.page-compensation__text {
  font-size: 1.667vw;
  line-height: 1.3;
  margin-bottom: 3.750vw;
  text-align: center;
  color: var(--color-dark-2);

  @include viewport-desktop {
    font-size: 16px;
  }

  @include viewport-tablet {
    margin-bottom: 35px;
  }
}

.page-compensation-people__person {
  position: absolute;
}

.page-compensation-people__person--1 {
  width: 15.972vw;
  height: 15.972vw;
  top: 10.903vw;
  left: 5.625vw;

  @include viewport-tablet {
    width: 100px;
    height: 100px;
    top: 54px;
    left: 17px;
  }
}

.page-compensation-people__person--2 {
  width: 11.111vw;
  height: 11.111vw;
  top: 18.889vw;
  right: 9.792vw;

  @include viewport-tablet {
    width: 113px;
    height: 113px;
    top: 122px;
    right: -20px;
  }
}

.page-compensation-people__person--3 {
  width: 6.736vw;
  height: 6.736vw;
  top: 44.375vw;
  left: 26.875vw;

  @include viewport-desktop {
    top: auto;
    bottom: 20vw;
    left: 20vw;
  }

  @include viewport-tablet {
    display: none;
  }
}

.page-compensation-people__person--4 {
  width: 10vw;
  height: 10vw;
  top: 51.944vw;
  right: 29.792vw;

  @include viewport-desktop {
    top: auto;
    bottom: 10vw;
    right: 25vw;
  }

  @include viewport-tablet {
    display: none;
  }
}

.page-compensation-people__person-img {
  width: 100%;
}

.page-compensation-people__price {
  position: absolute;
}

.page-compensation-people__price--1 {
  top: 7.917vw;
  left: 24.514vw;

  @include viewport-tablet {
    top: 35px;
    left: 135px;
  }

  .page-compensation-people__price-bg {
    width: 15.486vw;
    height: 5.486vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);

    @include viewport-tablet {
      width: 97px;
      height: 34px;
    }
  
    use {
      fill: #D6E3FF;
    }
  }

  .page-compensation-people__text {
    font-size: 1.667vw;

    @include viewport-tablet {
      font-size: 10px;
    }
  }
}

.page-compensation-people__price--2 {
  top: 16.042vw;
  right: 22.708vw;

  @include viewport-tablet {
    top: 93px;
    right: 112px;
  }

  .page-compensation-people__price-bg {
    width: 10.764vw;
    height: 3.819vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%) rotateY(180deg);

    @include viewport-tablet {
      width: 110px;
      height: 39px;
    }
  
    use {
      fill: var(--color-green);
    }
  }

  .page-compensation-people__text {
    font-size: 1.181vw;
    @include viewport-tablet {
      font-size: 12px;
    }
  }
}

.page-compensation-people__price--3 {
  top: 43.403vw;
  left: 21.250vw;

  @include viewport-desktop {
    top: auto;
    bottom: 26vw;
    left: 14.4vw;
  }

  @include viewport-tablet {
    display: none;
  }

  .page-compensation-people__price-bg {
    width: 7.431vw;
    height: 2.639vw;
    top: 50%;
    left: 50%;
    transform: translate(-46%, -36%) rotateY(180deg);
  
    use {
      fill: var(--color-yellow);
    }
  }

  .page-compensation-people__text {
    font-size: 0.796vw;
  }
}


.page-compensation-people__price--4 {
  top: 50.208vw;
  right: 20.139vw;

  @include viewport-desktop {
    top: auto;
    bottom: 20vw;
    right: 17vw;
  }

  @include viewport-tablet {
    display: none;
  }

  .page-compensation-people__price-bg {
    width: 12.153vw;
    height: 4.306vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
  
    use {
      fill: var(--color-yellow);
    }
  }

  .page-compensation-people__text {
    font-size: 1.389vw;
  }
}


.page-compensation-people__price-bg {
  position: absolute;
  z-index: -1;
}

.page-compensation-people__text {
  position: relative;
  font-weight: 500;
  line-height: 1.2;
}

.page-compensation__title__btn {
  @include viewport-tablet {
    flex: 1;
  }
}