.page__section--products {
  // margin-bottom: 6.597vw;
  max-width: 100%;
  overflow: hidden;
}

.page-products__wrapper {
  padding-bottom: 1.6vw;

}

.page-products {

}

.page-products__title {
  font-size: 3.333vw;
  line-height: .9;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1.528vw;

  @include viewport-desktop {
    font-size: 48px;
    margin-bottom: 22px;
  }

  @include viewport-tablet {
    font-size: 36px;
  }
}

.page-products-toggle__wrap {
  display: flex;
  width: 100%;
  justify-content: center;
}

.page-products-toggle {
  background: #EEF4FC;
  border-radius: 9px;
  display: flex;
  padding: 2px;
  margin: 0;
  overflow: hidden;
  box-sizing: border-box;
  margin-bottom: 2.431vw;

  @include viewport-desktop {
    margin-bottom: 35px;
  }

  @include viewport-tablet {
    margin-bottom: 17px;
  }
}


.page-products-toggle__input {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;

  &:checked + .page-products-toggle__label:first-of-type::after {
    transform: translateX(2px);
    width: 100%;
  }
}

.page-products-toggle__label {
  cursor: pointer;
  height: 1.944vw;
  font-family: sans-serif;
  display: inline-block;
  font-size: 0.903vw;
  font-weight: 500;
  padding: 0.417vw 0.556vw;
  min-width: 11.806vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  flex: 1;
  box-sizing: border-box;
  margin-bottom: 0;

  @include viewport-desktop {
    height: 28px;
    font-size: 13px;
    padding: 6px 8px;
    min-width: 170px;
  }

  @include viewport-phone {
    min-width: 130px;
  }

  &:first-of-type::after {
    content: '';
    height: 100%;
    width: 100%;
    background: #FFFFFF;
    border-radius: 7px;
    position: absolute;
    top: 0;
    left: -2px;
    z-index: -1;
    transform: translateX(calc(100% + 2px));
    width: 100%;
    transition: all .2s ease-in-out;
  }
}

.page-products__list-wrap {
  position: relative;
  max-width: 100%;
  // overflow: hidden;
}

.page-products__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: -5px;
  width: calc(100% + 10px);
  position: absolute;
  top: 0;
  visibility: hidden;
  z-index: -999;

  .page-products-item__btns {
    display: none;
  }

  &.active {
    position: static;
    visibility: visible;
    z-index: 2;

    .page-products-item__btns {
      display: flex;
    }
  }

  @include viewport-tablet {
    flex-direction: column;
    width: 100%;
    margin: 0;
  }
}

.page-products__list--personal {

}

.page-products__list--business {
  
}

.page-product-item {
  margin: 5px;
  flex: 1;
  min-width: 50%;
  min-height: 34.306vw;
  width: 100%;
  padding: 1.667vw;
  position: relative;
  border-radius: 6px;
  box-sizing: border-box;

  @include viewport-desktop {
    min-height: 360px;
    padding: 24px;
  }

  @include viewport-tablet {
    margin: 0 0 10px 0;
    min-height: 494px;
    padding: 25px 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

  }
}

.page-product-item--1 {
  .page-product-item__bg {
    background: #F0F4FC;
  }
}

.page-product-item--2 {
  z-index: 2;
  position: relative;
  .page-product-item__bg {
    background-color: var(--color-green);
    background: url('../img/product-item-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 0 6px 6px 6px;
  }

  .page-products-item__title,
  .page-products-item__text {
    color: #ffffff;
  }
}

.page-product-item--3 {
  .page-product-item__bg {
    background: #DDFFB2;
  }

  .page-product-item__img-wrap {
    width: 20vw;
    right: 7.778vw;
    bottom: -1.528vw;

    @include viewport-tablet {
      width: 100%;
      max-width: 240px;
      right: 24px;
      top: 31px;
      max-height: 400px;

 
    }

    @media (max-width: 690px) {
      max-width: 34.667vw;
    }

    @media (max-width: 420px) {
      right: 18px;
      max-width: 30.667vw;
    }
  }
}

.page-product-item--4 {
  .page-product-item__bg {
    background: #F1D2C3;
  }

  .page-products-item__text {
    max-width: 20vw;

    @include viewport-tablet {
      max-width: 210px;
    }
  }

  .page-product-item__img-wrap {
    width: 23.778vw;
    right: -5.6vw;
    bottom: -1vw;

    @include viewport-tablet {
      width: 100%;
      max-width: 340px;
      bottom: -14px;
      /* top: 0; */
      right: -75px;
    }

    @media (max-width: 690px) {
      max-width: 340px;
    }

    @media (max-width: 450px) {
      max-width: 60.4vw;
      bottom: -2.4vw;
      right: -14vw;
    }
  }
}



.page-product-item--5 {


  .page-product-item__bg {
    background-color: var(--color-green);
    background: url('../img/product-item-bg-2.png');
    background-repeat: no-repeat;
    background-size: 100vw;
    background-position: top left;
    border-radius: 0 6px 6px 6px;


    @include viewport-tablet {
      background-size: cover;
    }
  }

  .page-products-item__title,
  .page-products-item__text {
    color: #ffffff;
  }
}

.page-product-item--6 {
  z-index: 2;

  .page-product-item__bg {
    background: var(--color-yellow);
  }

  .page-products-item__box {
    position: relative;
    z-index: 3;
  }

  .page-products-item__text {
    max-width: 23.2vw;

    @include viewport-tablet {
      max-width: 100%;
    }
  }

  .page-product-item__img-wrap {
    width: 14vw;
    right: 0.778vw;
    bottom: -1.11vw;
    z-index: 2;

    @include viewport-tablet {
      width: 100%;
      max-width: 197px;
      right: 16px;
      top: 12px;
      max-height: 400px;
    }

    @media (max-width: 690px) {
      max-width: 26.667vw;
    }
  }
}

.page-product-item--7 {
  .page-product-item__bg {
    background: #F8DDE7;
  }
}

.page-product-item--8 {
  .page-product-item__bg {
    background-color: var(--color-blue);
    background: url('../img/product-item-bg-3.png');
    background-repeat: no-repeat;
    background-size: 84vw;
    border-radius: 0 6px 6px 6px;
    background-position: left -16vh;

    @include viewport-desktop {
      background-size: 95vw;

    }

    @include viewport-tablet {
      background-size: cover;
      background-position: 12% center;
    }
  }
  

  .page-products-item__title,
  .page-products-item__text {
    color: #ffffff;
  }
}


.page-product-item--s {
  min-width: calc(39.32% - 5px);
  width: calc(39.32% - 5px);
  max-width: calc(39.32% - 5px);

  @include viewport-tablet {
    min-width: 100%;
    width: 100%;
    max-width: 100%;
  }
}


.page-product-item__bg {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 6px;
  overflow: hidden;
}

// .page-product-item__bg--corner {
//   &::after {
//     content: "";
//     position: absolute;
//     width: 4.514vw;
//     height: 6.667vw;
//     left: -1.528vw;
//     top: -3.958vw;
//     background: #ffffff;
//     transform: rotate(45deg);

//     @include viewport-tablet {
//       top: -70px;
//       left: -38px;
//       width: 65px;
//       height: 96px;
//     }
//   }
// }

.page-product-item__content {
  height: 100%;
  max-width: 24.681vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  @include viewport-tablet {
    max-width: 240px;
    min-height: 274px;
    justify-content: space-between;
  }

}

.page-product-item__ico-wrap {
  position: absolute;
  top: 2.083vw;
  left: 1.667vw;

  @include viewport-tablet {
    top: 30px;
    left: 24px;
  }
}

.page-product-item__ico {
  width: 3.889vw;
  height: 3.889vw;

  @include viewport-tablet {
    width: 56px;
    height: 56px;
  }
}

.page-products-item__title {
  font-size: 4.444vw;
  line-height: .9;
  font-weight: 500;
  margin-bottom: 1.389vw;

  @include viewport-tablet {
    font-size: 40px;
    margin-bottom: 20px;
  }
}

.page-products-item__text {
  font-size: 0.972vw;
  line-height: 1.4;
  margin-bottom: 4.236vw;

  @include viewport-desktop {
    font-size: 14px;
    // margin-bottom: 61px;
    margin-bottom: 20px;

    br {
      display: none;
    }
  }
}

.page-products-item__btns {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 3.958vw;

  @include viewport-desktop {
    min-height: 57px;
  }
}

.page-products-item__btn {
  line-height: 1.2;
  font-size: 1.111vw;
  font-weight: 500;

  @include viewport-desktop {
    font-size: 16px;
  }
}


.page-product-item__img-wrap {
  position: absolute;
  z-index: -1;
}

.page-product-item__img {
  width: 100%;
  // height: 100%;
  // object-fit: contain;
}