.footer__section {
  overflow: hidden;
  padding-bottom: 0.903vw;

  @include viewport-tablet {
    padding-bottom: 18px;
  }

}

.footer__wrapper {

}

.footer {
  position: relative;
  padding: 5.972vw 2.986vw 1.736vw 2.986vw;

  @include viewport-desktop {
    padding: 66px 30px 25px 30px;
  }

  @include viewport-tablet {
    padding-bottom: 33px 26px 74px 26px;
  }
}

.footer__bg {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #F8DDE7;
  z-index: -1;
  border-radius: 6px;

  // &::after {
  //   content: "";
  //   position: absolute;
  //   width: 4.514vw;
  //   height: 6.667vw;
  //   left: -1.528vw;
  //   top: -3.958vw;
  //   background: #ffffff;
  //   transform: rotate(45deg);

  //   @include viewport-desktop { 
  //     width: 65px;
  //     height: 96px;
  //     top: -70px;
  //     left: -30px;
  //   }

  //   @include viewport-tablet { 
  //     top: -70px;
  //     left: -38px;
  //   }
  // }
}

.footer__content {
  display: flex;

  @include viewport-desktop {
    justify-content: space-between;
  }

  @include viewport-tablet {
    flex-direction: column;
  }
}

.footer__box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer__box--logo {
  margin-right: 9.931vw;

  @include viewport-desktop {
    margin-right: 30px;
  }

  @include viewport-tablet {
    margin-bottom: 21px;
    margin-right: 0;
  }
  
}

.footer__box--links {
  margin-right: 7.431vw;

  @include viewport-desktop {
    margin-right: 30px;
  }

  @include viewport-tablet {
    margin-bottom: 21px;
    margin-right: 0;
  }
}

.footer__box--grow {
  flex: 1;

  @include viewport-desktop {
    flex: 0;
  }

  @include viewport-tablet {
    margin-bottom: 44px;
  }
}

.footer__box--contact {
  flex: 1;
  max-width: 19.583vw;

  @include viewport-desktop {
    max-width: none;
    min-width: 200px;
    flex: 0;
  }
}

.footer-logo {
  display: flex;
  width: 100%;
  margin-bottom: 0.833vw;

  @include viewport-desktop {
    margin-bottom: 12px;
  }
}

.footer-logo__ico {
  width: 7.986vw;
  height: 1.667vw;

  @include viewport-desktop {
    width: 131px;
    height: 28px;
  }
}

.footer__desc {
  color: var(--color-dark-2);
  font-size: 0.903vw;
  line-height: 1.2;
  margin-bottom: 2.917vw;
  max-width: 10vw;

  @include viewport-desktop {
    font-size: 13px;
    max-width: 145px;
  }
}

.footer-location {
  display: flex;
  align-items: center;
  position: absolute; 
  top: 15.139vw;
  left: 2.986vw;

  @include viewport-desktop {
    top: 160px;
    left: 30px;
  }

  @include viewport-tablet {
    position: static;
    margin-bottom: 55px;
  }
}

.footer-location__box {
  display: flex;
  align-items: center;
  margin-right: 1.806vw;

  &:last-child {
    margin-right: 0;
  }

  @include viewport-desktop {
    margin-right: 26px;
  }
}

.footer-location__ico {
  width: 1.389vw;
  height: 1.389vw;
  margin-right: 0.556vw;

  @include viewport-desktop {
    width: 20px;
    height: 20px;
    margin-right: 8px;
  }
}

.footer-location__text {
  text-transform: uppercase;
  font-size: 0.972vw;
  line-height: 1.5;

  @include viewport-desktop {
    font-size: 14px;
  }
}

.footer__link {
  font-size: 1.111vw;
  line-height: 1.5;
  margin-bottom: 1.528vw;
  white-space: nowrap;

  &:last-child {
    margin-bottom: 0;
  }

  @include viewport-desktop {
    font-size: 16px;
  }

  @include viewport-tablet {
    margin-bottom: 22px;
  }
}

.footer__contact {
  font-size: 1.111vw;
  line-height: 1.5;

  @include viewport-desktop {
    font-size: 16px;
  }
}

.footer__email {
  font-size: 1.111vw;
  line-height: 1.5;
  font-weight: 500;
  margin-bottom: 4.514vw;

  @include viewport-desktop {
    font-size: 16px;
  }

  @include viewport-tablet {
    margin-bottom: 65px;
  }
}

.footer__socials {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;

  @include viewport-tablet {
    max-width: 228px;
  }
}


.footer-socials__link {
  text-decoration: none;
  padding: 0 0.903vw;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    .footer-socials__ico {
      use {
        fill: #7F7D84;
      }
    }
  }
}

.footer-socials__ico {
  use {
    fill: var(--color-dark);
    transition: all .3s ease-in-out;
  }
}

.footer-socials__ico--twitter {
  width: 1.181vw;
  height: 0.972vw;

  @include viewport-desktop { 
    width: 16px;
    height: 13px;
  }
}

.footer-socials__ico--facebook {
  width: 1.181vw;
  height: 1.181vw;

  @include viewport-desktop { 
    width: 16px;
    height: 16px;
  }
}

.footer-socials__ico--instagram {
  width: 1.250vw;
  height: 1.181vw;

  @include viewport-desktop { 
    width: 16px;
    height: 16px;
  }
}

.footer-socials__ico--tiktok {
  width: 1.111vw;
  height: 1.181vw;

  @include viewport-desktop { 
    width: 14px;
    height: 16px;
  }
}

.footer-socials__ico--youtube {
  width: 1.389vw;
  height: 1.042vw;

  @include viewport-desktop { 
    width: 20px;
    height: 14px;
  }
}

.footer__copyright-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4.722vw;

  @include viewport-tablet {
    margin-top: 41px;
    justify-content: flex-start;
  }

}

.footer__copyright {
  text-align: center;
  font-size: 0.833vw;
  line-height: 1.5;
  color: var(--color-dark-2);

  @include viewport-desktop {
    font-size: 12px;
  }

  @include viewport-tablet {
    text-align: left;
  }
}


.select-wrapper {
  display: block;
}

.dropholder {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  color: var(--color-dark);
  position: relative;
  box-sizing: border-box;
}

.holder {
  font-size: 0.972vw;
  line-height: 1.5;

  @include viewport-desktop {
    font-size: 14px;
  }
}

.dropdown {
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  z-index: 20;
  text-transform: uppercase;
  font-size: 0.972vw;
  line-height: 1.5;

  @include viewport-desktop {
    font-size: 14px;
  }

  &.active + .dropdownOption {
    display: block;
  }
}

.dropdownOption {
  padding: 0;
  position: absolute;
  left: 0;
  bottom: 100%;
  width: 70px;
  right: 0;
  margin: 0;
  cursor: pointer;
  display: none;
  background: #ffffff;
  border-radius: 10px;
  z-index: 5;
  overflow: hidden;
  
  li {
    padding: 10px 15px;
    color: var(--color-dark);
    list-style: none;
    &:hover:not(.current) {
      opacity: .8;
    }
  }
}

.current {
    color: var(--color-blue);
}

