.modal-dialog {
  max-width: 843px !important;
}

.modal-content {
  min-height: 796px;
  display: flex;
  flex-direction: column;

  @include viewport-tablet {
    min-height: auto;
  }
}

.modal__content {
  padding: 106px 20px 50px 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transition: all .3s ease-in;
  background-color: #ffffff;
  flex: 1;
  border-radius: 6px;

  &.active {
    opacity: 1;
  }

  @include viewport-tablet {
    padding: 60px 20px 20px 20px;
  }
}

.modal__close-wrap {
  position: absolute;
  top: 40px;
  right: 37px;
  cursor: pointer;
  z-index: 10;
  width: 20px;
  height: 20px;

  @include viewport-tablet {
    top: 20px;
    right: 20px;
  }
}

.modal__close {
  width: 20px;
  height: 20px;
  fill: var(--color-dark);
  transition: all .3s ease-in;

  &:hover {
    opacity: .5;
  }
}

.modal__title {
  font-size: 40px;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 16px;
  text-align: center;
  color: var(--color-dark);

  @include viewport-tablet {
    font-size: 32px;
  }
}

.modal__text {
  font-size: 24px;
  line-height: 1.3;
  margin-bottom: 36px;
  text-align: center;
  color: var(--color-dark-2);
  display: flex;
  max-width: 524px;

  @include viewport-tablet {
    font-size: 18px;
    margin-bottom: 24px;
  }
}

.modal__form {
  max-width: 397px;
  width: 100%;
}

.modal__inputs-wrap {
  width: 100%;

  .modal__input {
    &:last-child {
      margin-bottom: 36px;

      @include viewport-tablet {
        margin-bottom: 24px;
      }
    }
  }
}

.modal__input {
  margin-bottom: 21px;

  @include viewport-tablet {
    margin-bottom: 14px;
  }
}

.modal__btn {
  padding: 0;
  outline: 0;
  border: 0;
  cursor: pointer;
  background: var(--color-purple);
  border-radius: 28.5px;
  height: 57px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 120%;
  font-weight: 500;
  color: var(--color-dark);
  transition: all 0.3s ease-in-out;
  width: 100%;
  margin-bottom: 16px;

  &:hover {
    background: #ccbaf4;
  }

  @include viewport-tablet {
    height: 48px;
  }
}

.modal-form__text {
  font-size: 14px;
  line-height: 1.3;
  color: var(--color-dark);

  a {
    font-size: 14px;
    line-height: 1.3;
    color: var(--color-dark);
    transition: all 0.3s ease-in-out;

    &:hover {
      opacity: 0.7;
    }
  }
}

.modal__success {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: -1;
  opacity: 0;
  transition: all 0.3s ease-in;
  padding: 180px 20px 50px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  &.active {
    z-index: 2;
    opacity: 1;

    .modal-success__ico-wrap {
      transform: rotate(0) scale(1);
    }

    .modal__title {
      animation: simpleFadeUp 1.2s both;
      animation-delay: 0.2s;
    }

    .modal__text {
      animation: simpleFadeUp 1.2s both;
      animation-delay: 0.4s;
    }
  }
}

.modal-success__ico-wrap {
  width: 140px;
  height: 140px;
  margin-bottom: 44px;
  transform: rotate(-90deg) scale(0);
  transition: all .45s ease-in;
}

.modal-success__ico {
  width: 140px;
  height: 140px;
}