body, html {
  width: 100%;
  height: 100%;
  color: var(--color-dark);
  font-family: 'TT Hoves', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}

.wrapper {
  display: block;
  width: 100%;
  max-width: 100vw;
  margin: 0 auto;
  padding: 0 0.694vw;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--color-dark);
  

}

.link-line {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    border-radius: 5px;
    height: 0.05em;
    bottom: 0;
    left: 0;
    background: currentcolor;
    transform-origin: bottom right;
    transition: transform .5s cubic-bezier(1,0,0,1);
  }

  &:hover {
    &::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
}

.btn {
  height: 3.958vw;
  min-width: 10.764vw;
  padding: 5px 10px;
  font-family: 'TT Hoves', sans-serif;
  font-size: 1.111vw;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #FFFFFF;
  border-radius: 2.014vw;
  transition: all .3s ease-in-out;

  &:hover {
    background-color: var(--color-dark-2);
    border-color: var(--color-dark-2);
  }

  &:active {
    background-color: var(--color-dark-2);
    border-color: var(--color-dark-2);
  }
}

.btn--transparent {
  border-color: var(--color-dark-2);
  color: var(--color-dark-1);

  &:hover {
    background-color: var(--color-dark-2);
    color: #ffffff;
  }

  &:active {
    background-color: var(--color-dark-2);
  }
}

.btn--green {
  background: #CBF1BA;
  border: none;
  color: var(--color-dark);

  &:hover {
    background-color: #BDE7AB;
  }

  &:active {
    background-color: #BDE7AB;
  }
}

.btn--ios,
.btn--android {
  border: none;
  background-color: var(--color-dark);

  &:hover {
    background-color: var(--color-dark-2);
    border-color: var(--color-dark-2);
  }

  &:active {
    background-color: var(--color-dark-2);
    border-color: var(--color-dark-2);
  }

}

.btn--ios {
  svg {
    width: 6.667vw;
    height: 1.736vw;
  }
}

.btn--android {
  img {
    width: 100%;
    max-width: 7.639vw;
  }
}

.btns-group {
  margin: 0 -0.278vw;
  display: flex;

  .btn {
    margin: 0 0.278vw;
  }
}

.corner {
  &::after {
    content: "";
    position: absolute;
    width: 4.514vw;
    height: 6.667vw;
    left: -1.528vw;
    top: -3.958vw;
    background: #ffffff;
    transform: rotate(45deg);
  }
}