body, html {
  width: 100%;
  height: 100%;
  color: var(--color-dark);
  font-family: 'TT Hoves', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}

.wrapper {
  display: block;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 0.903vw;
  box-sizing: border-box;

  @include viewport-desktop { 
    padding: 0 10px;
  }
}

a {
  text-decoration: none;
  color: var(--color-dark);
  
  &:hover {
    text-decoration: none;
    color: var(--color-dark);
  }
}

.link-line {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    border-radius: 5px;
    height: 0.05em;
    bottom: 0;
    left: 0;
    background: currentcolor;
    transform-origin: bottom right;
    transition: transform .5s cubic-bezier(1,0,0,1);
  }

  &:hover {
    &::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
}

.btn {
  height: 3.958vw;
  min-width: 10.764vw;
  padding: 5px 10px;
  font-family: 'TT Hoves', sans-serif;
  font-size: 1.111vw;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #FFFFFF;
  border-radius: 2.014vw;
  transition: all .3s ease-in-out;

  &:hover {
    color: #ffffff;
    background-color: var(--color-dark-2);
    border-color: var(--color-dark-2);
  }

  &:active {
    color: #ffffff;
    background-color: var(--color-dark-2);
    border-color: var(--color-dark-2);
  }

  @include viewport-desktop { 
    height: 48px;
    min-width: 135px;
    font-size: 16px;
    border-radius: 28px;
  }

  @include viewport-tablet { 
    height: 58px;
    min-width: 155px;
  }
}

.btn--transparent {
  border-color: var(--color-dark-2);
  color: var(--color-dark);

  &:hover {
    background-color: var(--color-dark-2);
    color: #ffffff;
  }

  &:active {
    background-color: var(--color-dark-2);
  }
}

.btn--green {
  background: #CBF1BA;
  border: none;
  color: var(--color-dark);

  &:hover {
    background-color: #BDE7AB;
    color: var(--color-dark);

  }

  &:active {
    background-color: #BDE7AB;
    color: var(--color-dark);
  }
}

.btn--ios,
.btn--android {
  border: none;
  background-color: var(--color-dark);

  @include viewport-phone { 
    min-width: auto;
  }

  &:hover {
    background-color: var(--color-dark-2);
    border-color: var(--color-dark-2);
  }

  &:active {
    background-color: var(--color-dark-2);
    border-color: var(--color-dark-2);
  }

}

.btn--ios {
  svg {
    width: 6.667vw;
    height: 1.736vw;

    @include viewport-desktop { 
      width: 96px;
      height: 25px;
    }

    @include viewport-phone { 
      width: 100%;
      max-height: 25px;
    }
  }
}

.btn--android {
  img {
    width: 100%;
    max-width: 7.639vw;

    @include viewport-desktop { 
      max-width: 110px;
    }

    @include viewport-phone { 
      width: 100%;
      max-height: 27px;
    }
  }
}

.btns-group {
  margin: 0 -0.278vw;
  display: flex;

  .btn {
    margin: 0 0.278vw;

    @include viewport-desktop { 
      margin: 0 4px;
    }
  }

  @include viewport-desktop { 
    margin: 0 -4px;
  }
}

.corner {
  &::after {
    content: "";
    position: absolute;
    width: 4.514vw;
    height: 6.667vw;
    left: -1.528vw;
    top: -3.958vw;
    background: #ffffff;
    transform: rotate(45deg);

    @include viewport-desktop { 
      // width: 65px;
      // height: 96px;
      // top: 10%;
      // left: 10%;
    }

    @include viewport-desktop { 
      width: 65px;
      height: 96px;
      top: -70px;
      left: -30px;
    }

    @include viewport-tablet { 
      top: -70px;
      left: -38px;
    }

  }
}